:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#container {
  padding: 0;
}

#app {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: transparent;
}

#mobil {
  position: absolute;
  display: flex;
  justify-content: space-between;
  /* width: min-content; */
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 50px 30px;

}

#mobil button {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.296);
}

#mobil img {
  width: 40px;
  height: 40px;
  margin: 5px;
}

#mobil div button:nth-child(1) {
  border-radius: 50% 0 0 50%;
}

#mobil div button:nth-child(2) {
  border-radius: 0 50% 50% 0;
}

#mobil>button {
  border-radius: 50%;
}

#scoreBox {
  position: absolute;
  top: 0;
  color: #fff;
  margin: 15px;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}


#GO {
  position: absolute;
  width: min-content;
  height: min-content;
  background: white;
  color: #1a1a1a;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#GO h2 {
  width: max-content;
}

#GO button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: #eee;
  transition: border-color 0.25s;
}

#GO button:hover {
  border-color: #646cff;
}

#GO button:focus,
#GO button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}